<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DefaultMoveTime" value="750" />
		<add key="DefaultKeyPressTime" value="1" />
		<add key="SpeedFactor" value="2" />
		
		<!-- Delay params-->
		<add key="DelayAction" value="5000"/>
		<add key="DelayEnable" value="5000"/>
		<add key="DelayElement" value="15000"/>
		<add key="DelayPageLoading" value="15000"/>
		<add key="DelayVisible" value="30000"/>
	<!-- DataBase Access settings-->
		<add key="Server" value="10.20.10.97" />
		<add key="Port" value="3306" />
		<add key="Database" value="IntegrityService" />
		<add key="DBLogin" value="psi" />
		<add key="DBPassword" value="manager" />
		
	</appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
</configuration>