<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		 DataBase Access settings 
		<add key="Server" value="10.20.10.97" />
		<add key="Port" value="3306" />
		<add key="Database" value="IntegrityService" />
		<add key="DBLogin" value="psi" />
		<add key="DBPassword" value="manager" />
	
	</appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
</configuration>